@font-face {
  font-family: "Marcellus SC";
  src: url(./fonts/MarcellusSC-Regular.ttf);
}

@font-face {
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf);
}

@font-face {
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf);
}

@font-face {
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf);
}

@font-face {
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf);
}

